@media (max-width: 380px) {
    body {
        margin-left: 0px;
        margin-top: 0px;
        font-family: Avenir, "Open Sans", "Adobe Calson Pro", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
    /*.container {
    max-width: 1199px;
    min-width: 992px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}*/
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrap {
        overflow: hidden;
    }
    #mubot {
        position: relative;
        right: 1%;
        font-size: 610%;
        color: #3FA9F5;
        font-family: sans-serif;
        text-align: center;
        bottom: -3em;
    }
    #eye_p {
        position: relative;
        color: aliceblue;
        font-size: 218%;
        font-family: serif;
        text-align: center;
        bottom: -7.8em;
    }
    #mes_icon {
        width: 7.3%;
        position: relative;
        left: 30%;
        bottom: -2.3em;
    }
    .sample {
        width: 182px;
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 8px 0 10px 40px;
        color: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #c0e6f7), color-stop(0.5, #3dbaf4), color-stop(0.99, #02a9f7), to(#ccc));
        border-radius: 5px;
        /* box-shadow: 2px 2px #1a6ea0; */
        position: relative;
        left: 26%;
        bottom: -4.3em;
        height: 34px;
    }
    /*.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}*/
    .slideshow img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: 1s;
        /* フェードの時間(秒) */
        width: 100%;
        height: 100%;
    }
    .slideshow .show {
        opacity: 1;
        z-index: -1;
    }
    #come {
        position: relative;
        left: 35%;
        bottom: -9em;
        z-index: 10;
        width: 32%;
        opacity: 0.7;
    }
    #messenger {
        position: relative;
        text-align: center;
        right: -38%;
        bottom: -21em;
    }
    #logo {
        float: left;
        margin-right: 807px;
        margin-bottom: -10px;
        font-size: 26px;
        color: #3FA9F5;
        margin-top: 4px;
    }
    #mubot_ic {
        width: 46%;
        position: relative;
        text-align: center;
        bottom: -6.5em;
        right: -8%;
    }
    #icon_p {
        position: relative;
        font-size: 13px;
        color: #EF454A;
        text-align: center;
        right: -2%;
        bottom: 3.2em;
        font-family: monospace;
        font-weight: 300;
    }
    /*#huki {
    position: relative;
    text-align: center;
    right: -26%;
    bottom: 1em;
    */
    /* balloon-4 bottom-right */
    #balloon-5-bottom-right {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        width: 321px;
        /* min-width: 115px; */
        height: 28px;
        color: #F6F6F6;
        line-height: 50px;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        bottom: 1em;
        left: 8%;
    }
    #balloon-5-bottom-right:before {
        content: "";
        position: absolute;
        bottom: -18px;
        /* right: 15px; */
        margin-right: 0;
        display: block;
        width: 13px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        z-index: 0;
        left: 42px;
    }
    #balloon-5-bottom-right:after {
        content: "";
        position: absolute;
        bottom: -26px;
        /* right: 25px; */
        margin-right: 0;
        display: block;
        width: 7px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        z-index: 0;
        left: 37px;
    }
    #header {
        float: right;
    }
    .twitter btn {
        width: 100px;
    }
    #box2 {
        text-align: center;
        margin: auto;
        /* margin-top: 10%; */
    }
    h1 {
        text-align: center;
        color: #00A4F4;
        /* margin-bottom: 2em; */
        font-family: serif;
        font-size: 242%;
        /* margin-top: 101px; */
        font-weight: 900;
    }
    h2 {
        text-align: center;
        color: #3FA9F5;
    }
    #p3 {
        color: #db4437;
        font-size: 130%;
        font-family: serif;
        /* font-size: 400%; */
        /* margin-top: 101px; */
        /* padding-top: 77px; */
        /* font-weight: 900; */
    }
    #pic1 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        /* margin: 10px; */
        /* margin-left: -30px; */
        /* padding-left: 18px; */
        padding-top: 20px;
        padding-right: 16%;
    }
    #pic2 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        /* margin: 0px; */
        padding-left: 40px;
    }
    #pic3 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 10px;
        padding-top: 22px;
        padding-left: 17px;
    }
    #img1 {
        width: 100%;
        /* padding-right: 69%; */
        /* text-align: center; */
        /* padding-right: 10%; */
    }
    #img2 {
        width: 132%;
        margin-right: -82px;
        text-align: center;
    }
    #img3 {
        width: 84%;
    }
    ul {
        margin-top: 11px;
    }
    #music_p {
        color: #212121;
        font-weight: 600;
        font-family: serif;
        font-size: 106%;
    }
    #talk_p {
        color: #212121;
        font-weight: 600;
        font-family: serif;
        font-size: 103%;
        text-align: center;
        /* padding-left: 27px; */
        width: 106%;
    }
    #recommend_p {
        color: #212121;
        font-weight: 600;
        font-family: serif;
        font-size: 103%;
        width: 103%;
    }
    #come {
        color: #212121;
    }
    h2 {
        color: #00A4F4;
        font-size: 200%;
        font-family: serif;
        font-weight: 600;
        margin-top: 11px;
    }
    #music_h2 {
        margin-top: -2%;
        font-size: 200%;
        font-family: serif;
        color: #00A4F4;
    }
    #recommend_h2 {
        margin-top: 16%;
        /* padding-left: 16%; */
    }
    #hr1 {
        height: 1px;
        background-color: #3FA9F5;
    }
    #box3 {
        margin-top: 42px;
        height: 210px;
        background-color: aliceblue;
        top: -298px;
        width: 100%;
    }
    #text {
        /* width: 50%; */
        /* margin-top: 10%; */
    }
    #bt {
        color: #3FA9F5;
        margin-left: 10%;
        font-size: 188%;
        font-family: serif;
        font-weight: 900;
        padding-top: -30px;
        width: 98%;
    }
    #btt {
        margin-left: 10%;
        font-size: 84%;
        color: #212121;
        font-family: serif;
        font-weight: 400;
        /* padding-top: 43px; */
        width: 100%;
    }
    #eyecatch2 {
        width: 106%;
        margin-right: 29%;
        margin-top: -11.1%;
    }
    #box4 {
        /* text-align: center; */
        width: 100%;
        margin-top: -47%;
        /* margin-right: 544px; */
        /* padding-right: 516px; */
        position: absolute;
    }
    #vt {
        font-size: 186%;
        font-weight: 900;
        font-family: serif;
        color: #00A4F4;
        width: 246%;
        /* margin-top: -465px; */
        margin-left: 103px;
        position: relative;
        top: 149px;
        right: 199%;
    }
    #box5 {
        text-align: center;
        background-color: aliceblue;
        height: 81px;
        width: 100%;
        margin-top: 17%;
    }
    #box6 {
        text-align: center;
        height: 300px;
        width: 100%;
        margin-top: -68%;
        /* position: absolute; */
        /* top: 333%; */
    }
    #fotter {
        background-color: #3FA9F5;
        text-align: center;
        color: white;
        width: 100%;
    }
    /*.box {
    display: inline-block;
    margin-bottom: -4px;
    margin-top: -3px;
    */
    .mov {
        width: 63%;
        position: relative;
        top: -286px;
        right: -20.5%;
    }
    .sns {
        margin-top: 50px;
    }
    #vt_box {
        /* width: 400px; */
        /* height: 300px; */
        /* color: aliceblue; */
        /* border-radius: 10px; */
        /* border-radius: 18px; */
        /* padding: 7% 15%; */
        /* background: aliceblue; */
        /* position: relative; */
        /* z-index: -1; */
        /* bottom: 35em; */
        /* width: 119%; */
        /* right: 2%; */
        /* line-height: 100px; */
        /* height: 463px; */
    }
    .iframe-content {
        /* margin-left: -3px; */
        /* width: 100px; */
        position: relative;
        width: 137%;
        /* height: 127%; */
        /* padding-top: 55.25%; */
    }
    .iframe-content iframe {
        width: 165% !important;
        height: 185% !important;
    }
    iframe.twitter-follow-button {
        visibility: hidden;
        width: 10px;
    }
    .fb-follow {
        margin-right: 198px;
    }
    #fb-button {
        position: absolute;
        top: 3615px;
        right: 750px;
    }
    #insta-button {
        position: absolute;
        top: 3614px;
        left: 951px;
    }
    #fb-like1 {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(2);
        display: inline-block;
        position: relative;
        right: -38.5%;
        bottom: 2em;
        border-radius: 4px;
        box-shadow: 2px 2px 2px #000;
    }
    #arrow-like {
        display: inline-block;
    }
    #fb-like2 {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.6);
        display: inline-block;
        position: relative;
        top: 0px;
        right: 23%;
        float: right;
    }
    /*.fb_iframe_widget > span {
    position: absolute;
    top: 844px;
    right: 666px;

    #fb-root {
    display: none;
}

    .fb_iframe_widget, .fb_iframe_widget span,
    .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
    .fb-like,.fb-like span,.fb-like iframe
    width:100% !important;
    */
    #font_sub {
        width: 80%;
        position: relative;
        left: 15.5%;
        bottom: -4em;
        font-family: serif;
        font-size: 130%;
        font-weight: 300;
        color: #EEEEEE;
    }
    #font_sub_sub {
        color: #00A4F4;
    }
    #mubot_font {
        width: 49%;
        position: relative;
        left: 24%;
        bottom: -6em;
    }
    #hatebu {
        /* width: 210px; */
        height: 35px;
        width: 38%;
        margin-top: 12px;
    }
    #twitter {
        /* padding-bottom: 10px; */
        /* margin-bottom: 9px; */
        /* width: 216px; */
        width: 58%;
        height: 59px;
        /* padding-left: 120px; */
        position: relative;
        top: -20px;
        margin-top: 16px;
        /* padding-bottom: 0px; */
        right: 16%;
    }
    #facebook {
        width: 47px;
        /* margin-right: 20px; */
        /* padding-left: 120px; */
        /* position: relative; */
        /* top: -16px; */
        margin-top: 5px;
    }
    /*.row .col-md-7 #eye_p {
    position: relative;
    top: -417px;
    right: -49%;
    color: aliceblue;
    font-size: 204%;
    font-family: serif;
    */
    #box6 .col-md-4:hover {
        opacity: 1;
        font-size: larger;
    }
    #reco {
        margin-top: -4px;
        margin-left: 7px;
    }
    #box6 .col-md-4 {
        /* border-left: 1px solid #eee; */
        cursor: pointer;
        width: 33.3333%;
    }
    #hatebu_p {
        padding-top: 6px;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        top: 0px;
        color: #00A4F4;
    }
    #hatebu_p:hover {
        text-decoration: underline;
    }
    #twitter_p {
        padding-top: 0px;
        font-size: 13px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        top: -30px;
        color: #00A4F4;
        /* width: 38%; */
        /* right: 21%; */
        position: relative;
        right: 12%;
    }
    #twitter_p:hover {
        text-decoration: underline;
    }
    #facebook_p {
        padding-top: -4px;
        /* padding-top: 47px; */
        font-size: 11px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        top: 0px;
        color: #00A4F4;
        margin-top: -4px;
    }
    #facebook_p:hover {
        text-decoration: underline;
    }
    #end {
        position: relative;
        left: -1%;
        top: -18px;
        float: left;
        width: 46%;
    }
    #end_h2 {
        float: right;
        padding-right: 37px;
        padding-top: -12px;
        font-size: 95%;
        width: 54%;
        margin-top: 5px;
    }
    .box {
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    #end3 {
        color: #db4437;
        font-size: 100%;
        font-family: serif;
    }
    #vt_p {
        /* color: #212121; */
        /* font-size: 128%; */
        /* font-family: serif; */
        /* font-weight: 600; */
        /* width: 63%; */
        /* margin-left: 126px; */
        /* position: relative; */
        /* top: 57px; */
        display: none;
    }
    .col-xs-4 {
        width: 100%;
    }
    .br:before {
        content: "\A";
        white-space: pre;
    }
}