    body {
        min-height: 2400px;
        min-width: 1250px;
        max-width: 1440px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .wrap {
        overflow: hidden;
    }
    
    #eyecatch1 {
        width: 100%;
    }
    
    #mubot {
        position: relative;
        right: 1%;
        font-size: 610%;
        color: #3FA9F5;
        font-family: sans-serif;
        text-align: center;
        bottom: 6em;
    }
    
    #eye_p {
        position: relative;
        color: aliceblue;
        font-size: 218%;
        font-family: serif;
        text-align: center;
        bottom: 16.2em;
    }
    
    #come {
        position: relative;
        right: -1%;
        font-size: 25px;
        text-align: center;
        bottom: 19.5em;
    }
    
    #messenger {
        position: relative;
        text-align: center;
        right: -38%;
        bottom: 31em;
    }
    
    #logo {
        float: left;
        margin-right: 807px;
        margin-bottom: -10px;
        font-size: 26px;
        color: #3FA9F5;
        margin-top: 4px;
    }
    
    #mubot_ic {
        width: 48%;
        position: relative;
        text-align: center;
        bottom: 35em;
        right: -17%;
    }
    
    #icon_p {
        position: relative;
        font-size: 22px;
        color: #db4437;
        text-align: center;
        right: -2%;
        bottom: 32.3em;
    }
    
    #huki {
        position: relative;
        text-align: center;
        right: -26%;
        bottom: 48em;
    }
    
    #header {
        float: right;
    }
    
    .twitter btn {
        width: 100px;
    }
    
    #box2 {
        text-align: center;
        margin: auto;
        margin-top: -57%;
    }
    
    h1 {
        text-align: center;
        color: #3FA9F5;
        margin-bottom: 2em;
    }
    
    h2 {
        text-align: center;
        color: #3FA9F5;
    }
    
    #p3 {
        color: #db4437;
        font-size: 42px;
    }
    
    #pic1 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 10px;
    }
    
    #pic2 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 10px;
    }
    
    #pic3 {
        text-align: center;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 10px;
    }
    
    #img1 {
        width: 96%;
    }
    
    #img2 {
        width: 100%;
    }
    
    #img3 {
        width: 96%;
    }
    
    ul {
        margin-top: 80px;
    }
    
    #music_p {
        color: #212121;
    }
    
    #talk_p {
        color: #212121;
    }
    
    #recommend_p {
        color: #212121;
    }
    
    #come {
        color: #212121;
    }
    
    h2 {
        color: #3FA9F5;
        font-size: 30px;
    }
    
    #music_h2 {
        margin-top: 18%;
    }
    
    #recommend_h2 {
        margin-top: 19%;
    }
    
    #hr1 {
        height: 1px;
        background-color: #3FA9F5;
    }
    
    #box3 {
        margin-top: 140px;
        height: 767px;
        background-color: #EEFFFF;
        top: -298px;
        width: 100%;
    }
    
    #text {
        /* width: 50%; */
        margin-top: 30%;
    }
    
    #bt {
        color: #3FA9F5;
        margin-left: 25%;
        font-size: 60px;
    }
    
    #btt {
        margin-left: 25%;
        font-size: 22px;
        color: #212121;
    }
    
    #eyecatch2 {
        width: 90%;
        margin-right: 3%;
        margin-top: 19.9%;
    }
    
    #box4 {
        text-align: center;
        width: 100%;
        margin-top: -34%;
    }
    
    #vt {
        font-size: 50px;
    }
    
    #box5 {
        text-align: center;
        background-color: aliceblue;
        height: 300px;
        width: 100%;
        margin-top: 6%;
    }
    
    #box6 {
        text-align: center;
        height: 300px;
        width: 100%;
    }
    
    #fotter {
        background-color: #3FA9F5;
        text-align: center;
        color: white;
        width: 100%;
    }
    
    .box {
        display: inline-block;
        margin-bottom: -4px;
        margin-top: -3px;
    }
    
    #mov {
        width: 69%;
        position: relative;
        top: -523px;
        right: -11%;
    }
    
    .sns {
        margin-top: 50px;
    }
    
    iframe.twitter-follow-button {
        visibility: hidden;
        width: 10px;
    }
    
    .fb-follow {
        margin-right: 198px;
    }
    
    #fb-button {
        position: absolute;
        top: 3615px;
        right: 750px;
    }
    
    #insta-button {
        position: absolute;
        top: 3614px;
        left: 951px;
    }
    
    #fb-like1 {
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        display: inline-block;
        position: relative;
        right: -47%;
        bottom: 48em;
    }
    
    #arrow-like {
        display: inline-block;
    }
    
    #fb-like2 {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        display: inline-block;
        position: relative;
        top: -75px;
        right: 5px;
    }
    /*.fb_iframe_widget > span {
    position: absolute;
    top: 844px;
    right: 666px;
}
#fb-root {
    display: none;
}

.fb_iframe_widget, .fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
.fb-like,.fb-like span,.fb-like iframe{
    width:100% !important;
}*/
    
    #hatebu {
        width: 210px;
        height: 55px;
    }
    
    #twitter {
        width: 216px;
        padding-left: 120px;
    }
    
    #facebook {
        width: 206px;
        margin-right: 20px;
        padding-left: 120px;
    }
    /*.row .col-md-7 #eye_p {
        position: relative;
        top: -417px;
        right: -49%;
        color: aliceblue;
        font-size: 204%;
        font-family: serif;
    }*/